In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd

all_ages = pd.read_csv('all-ages.csv')
all_ages.head()

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0

In [3]:
all_ages.dtypes

Major_code                         int64
Major                             object
Major_category                    object
Total                              int64
Employed                           int64
Employed_full_time_year_round      int64
Unemployed                         int64
Unemployment_rate                float64
Median                             int64
P25th                              int64
P75th                            float64
dtype: object

In [4]:
all_ages.shape

(173, 11)

In [5]:
all_ages_major_categories = all_ages.pivot_table(index='Major_category', values='Total', aggfunc=np.sum).to_dict()
print(all_ages_major_categories)

{'Arts': 1805865, 'Interdisciplinary': 45199, 'Business': 9858741, 'Industrial Arts & Consumer Services': 1033798, 'Computers & Mathematics': 1781378, 'Agriculture & Natural Resources': 632437, 'Humanities & Liberal Arts': 3738335, 'Social Science': 2654125, 'Engineering': 3576013, 'Biology & Life Science': 1338186, 'Health': 2950859, 'Law & Public Policy': 902926, 'Physical Sciences': 1025318, 'Education': 4700118, 'Communications & Journalism': 1803822, 'Psychology & Social Work': 1987278}

In [6]:
recent_grads = pd.read_csv('recent-grads.csv')
recent_grads.head()

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [7]:
recent_grads.dtypes

Rank                      int64
Major_code                int64
Major                    object
Major_category           object
Total                     int64
Sample_size               int64
Men                       int64
Women                     int64
ShareWomen              float64
Employed                  int64
Full_time                 int64
Part_time                 int64
Full_time_year_round      int64
Unemployed                int64
Unemployment_rate       float64
Median                    int64
P25th                     int64
P75th                     int64
College_jobs              int64
Non_college_jobs          int64
Low_wage_jobs             int64
dtype: object

In [8]:
recent_grads.shape

(173, 21)

In [9]:
recent_grads_major_categories = recent_grads.pivot_table(index='Major_category', values='Total', aggfunc=np.sum).to_dict()
print(recent_grads_major_categories)

{'Arts': 357130, 'Interdisciplinary': 12296, 'Business': 1302376, 'Industrial Arts & Consumer Services': 229792, 'Computers & Mathematics': 299008, 'Agriculture & Natural Resources': 79981, 'Humanities & Liberal Arts': 713468, 'Social Science': 529966, 'Engineering': 537583, 'Biology & Life Science': 453862, 'Health': 463230, 'Law & Public Policy': 179107, 'Physical Sciences': 185479, 'Education': 559129, 'Communications & Journalism': 392601, 'Psychology & Social Work': 481007}

In [10]:
# All values for Major_category
print(all_ages['Major_category'].value_counts().index)

all_ages_major_categories = dict()
recent_grads_major_categories = dict()
def calculate_major_cat_totals(df):
    cats = df['Major_category'].value_counts().index
    counts_dictionary = dict()

    for c in cats:
        major_df = df[df["Major_category"] == c]
        total = major_df["Total"].sum(axis=0)
        counts_dictionary[c] = total
    return counts_dictionary

all_ages_major_categories = calculate_major_cat_totals(all_ages)
recent_grads_major_categories = calculate_major_cat_totals(recent_grads)

Index([u'Engineering', u'Education', u'Humanities & Liberal Arts',
       u'Biology & Life Science', u'Business', u'Health',
       u'Computers & Mathematics', u'Physical Sciences',
       u'Agriculture & Natural Resources', u'Psychology & Social Work',
       u'Social Science', u'Arts', u'Industrial Arts & Consumer Services',
       u'Law & Public Policy', u'Communications & Journalism',
       u'Interdisciplinary'],
      dtype='object')

In [11]:
low_wage_percent = float(recent_grads['Low_wage_jobs'].sum()) / float(recent_grads['Total'].sum())
print(low_wage_percent)

0.0985254607612

In [12]:
# All majors, common to both DataFrames
majors = recent_grads['Major'].value_counts().index

recent_grads_lower_emp_count = 0
all_ages_lower_emp_count = 0

for major in majors:
  if all_ages[all_ages['Major'] == major]['Unemployment_rate'].values[0] > recent_grads[recent_grads['Major'] == major]['Unemployment_rate'].values[0]:
    recent_grads_lower_emp_count += 1
  elif recent_grads[recent_grads['Major'] == major]['Unemployment_rate'].values[0] > all_ages[all_ages['Major'] == major]['Unemployment_rate'].values[0]:
    all_ages_lower_emp_count += 1

print(recent_grads_lower_emp_count, all_ages_lower_emp_count)

(43, 128)

In [13]:
# All majors, common to both DataFrames
majors = recent_grads['Major'].value_counts().index

recent_grads_lower_emp_count = 0
all_ages_lower_emp_count = 0
for m in majors:
    recent_grads_row =  recent_grads[recent_grads['Major'] == m]
    all_ages_row = all_ages[all_ages['Major'] == m]
    
    recent_grads_unemp_rate = recent_grads_row['Unemployment_rate'].values[0]
    all_ages_unemp_rate = all_ages_row['Unemployment_rate'].values[0]
    
    if recent_grads_unemp_rate < all_ages_unemp_rate:
        recent_grads_lower_emp_count += 1
    elif all_ages_unemp_rate < recent_grads_unemp_rate:
        all_ages_lower_emp_count += 1

print(recent_grads_lower_emp_count, all_ages_lower_emp_count)

(43, 128)